# Gradle
.gradle/
build/
**/build/
local.properties

# Kotlin
.kotlin/

# IDE
.idea/
*.iml

# Android
captures/

# Release keystore + secrets (JANGAN commit)
keystore.properties
keystore/
*.jks

# Logs
*.log
